/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/cache
.idea
.editorconfig
.env.example
.gitattributes
.styleci.yml
/public/qrcodes
/public/VID-20210308-WA0042.mp4
composer.lock
