$largScreen: "(min-width : 1700px)";
$minMedium: "(min-width : 992px)";
$ipadScreen: "(max-width:1024px)";
$mdScreen: "(max-width:990px)";
$mobileScreen: "(max-width:823px)";
$smallScreen: "(max-width:766px)";
$extrasmallScreen: "(max-width:411px)";
$smScreen: "(max-width:375px)";
$sScreen: "(max-width:320px)";
$xScreen: "(max-width:280px)";


$mainColor:#000000;
$secondColor:#0066CC;
$mainFont:1rem;
$blackColor:#000;
$whiteColor:#fff;
$left:left;
$right:right
